{% extends 'includes/base.html' %}

{% block content %}
    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form action="" class="login-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 center">
                        <h4>Register</h4>
                        <p class="center">Join to our community now !</p>
                        <p class="center">
                            {% if messages %}
                                {% for message in messages %}
                                    <strong style="color: red">{{ message.message }}</strong>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" name="current" type="password" required>
                        <label for="password">Current Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" name="new" type="password" required>
                        <label for="password">New Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password-again" name="confirm" type="password" required>
                        <label for="password-again">Confirm New Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light col s12">Change</button>
                    </div>
                    <div class="input-field col s12">
                        <p class="margin center medium-small sign-up">Discard Change ? <a
                                href="{% url 'account:index' %}">Home</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
